body{
    background-color:#dee2e6;
    font-size: 1.5rem !important;
  
<<<<<<< HEAD
}  /*
=======
}
 table.dataTable thead {
    background: #007bff;
    color:white;
}
.btn{
  font-size: 1.8rem !important;
}
>>>>>>> 542335442487121da0784dc71b5ba6950c83ea0f
div.dataTables_wrapper div.dataTables_filter {
  text-align: initial !important;
}   */
.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}
.contenedor{
	width: 100%;
	margin:auto;
}
header{
	z-index: 1000;
}
  
.botoasn {
    padding: 4px 25px;
    background: rgb(19, 143, 247);
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
}
 
#tablita {
  width:50%  !important;
}  
.thead {
  text-align: center  !important;
}
.material-icons {
  border:none;
  background:none;
}